/* work-sans-regular - latin */
@font-face {
  font-weight: 400;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-500 - latin */
@font-face {
  font-weight: 500;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-600 - latin */
@font-face {
  font-weight: 600;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-700 - latin */
@font-face {
  font-weight: 700;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* Remove default padding */

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
pre,
input,
button,
fieldset {
  margin: 0;
  padding: 0;
}

/* Remove unexpected flex behaviour */
* {
  flex-shrink: 0;
}

/* Use screen height */

html {
  /* box-sizing: border-box; */
  height: 100%;
}

/* Prevent font size change after orientation changes in iOS */

body {
  min-height: 100%;
  color: #373737;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

/* Global font in controls */

input,
button,
textarea,
select {
  font: inherit;
}

/* Fix clickable styling in iOS and Safari */

button {
  appearance: button;
}

/* Pointer cursor for all interactive elements */

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* Remove border in Firefox */

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Fix default display */

img {
  display: block;
  margin: 0;
}

:root {
  --orange-color: #ff5300;
  --black-color: #373737;
  --gray-color: #7b7b7b;
  --light-orange-color: #fff7f4;
  --white-color: #fff;
  --orange-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
  --white-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 123.6%;
  text-transform: capitalize;
}

h2 {
  font-weight: 600;
  font-size: 39.06px;
  font-style: normal;
  line-height: 123.6%;
}

p {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
}

li {
  list-style-type: none;
}

textarea {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  line-height: 150.6%;
  resize: none;
}

input::input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wrapper {
  min-width: 343px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.substrate__color-orange {
  background: var(--light-orange-color);
}

.button__contact {
  width: 150px;
  height: 50px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  background: var(--orange-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--orange-shadow);

  .button__contact:hover {
    background: #d74800;
  }
}

.block__title-orange {
  color: var(--orange-color);
}

.wrapper-button {
  display: flex;
  justify-content: center;
}

/* header */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  max-width: calc(343px + 32px);
  margin: 0 auto;

  .header__logo {
    padding: 9px 0;
  }

  .header__theme {
    display: grid;
    align-items: center;
    justify-content: center;

    .header__theme-button {
      align-items: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
      all: unset;
    }
  }

  .header__burger {
    display: grid;
    align-items: center;
    justify-content: end;

    .header__burger-button {
      align-items: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
      all: unset;
    }
  }
}

.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: var(--white-shadow);
}

/* header */

/* intro */

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;

  .intro__text {
    max-width: 323px;
    margin: 0 auto;
  }

  .intro__title {
    padding-top: 50px;
    padding-bottom: 18px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
    text-align: center;
  }

  .intro__paragraph {
    padding-bottom: 25px;
    text-align: center;
  }
}

/* intro */

/* about */

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
}

.about__text {
  max-width: 323px;
  margin: 0 auto;

  .about__topic {
    padding-top: 50px;
    text-align: center;
  }

  .about__title {
    padding: 18px 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }

  .about__paragraph {
    padding-bottom: 25px;
    text-align: center;
  }
}

.about__br {
  padding-top: 18px;
}

.about__cardblock {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;

  .about__card {
    height: 200px;
    background: var(--white-color);
    box-shadow: var(--white-shadow);
  }

  .about__block-img {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }

  .about__icon-orange {
    border-radius: 50%;
    box-shadow: var(--orange-shadow);
  }

  .about__icon-gray {
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgb(0 0 0 / 40%);
  }

  .about__icon-blue {
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgb(0 194 255 / 40%);
  }

  .about__icon-dark {
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgb(0 0 0 / 40%);
  }

  .about__card-text {
    padding-top: 37px;
    color: #373737;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    white-space: nowrap;
    text-align: center;
  }
}

/* about */

/* expereince */

.expereince__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.expereince__text {
  max-width: 323px;
  margin: 0 auto;

  .expereince__topic {
    text-align: center;
  }

  .expereince__title {
    padding: 18px 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }

  .expereince__paragraph {
    padding-bottom: 25px;
    text-align: center;
  }
}

.expereince__br {
  padding-top: 18px;
}

.expereince__wrapper-cardblock {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
  justify-content: center;
  padding: 50px 0;

  .expereince__card {
    width: 343px;
    height: 250px;
    background: #fff;
    box-shadow: var(--white-shadow);
  }

  .expereince__card-title {
    margin: 0 auto;
    padding-top: 74px;
    color: var(--black-color);
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    text-align: center;
  }

  .expereince__card-text {
    margin: 0 auto;
    padding-top: 18px;
    color: #7b7b7b;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }
}

/* expereince */

/* team  */
.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
}

.team__text {
  max-width: 323px;
  margin: 0 auto;

  .team__topic {
    text-align: center;
  }

  .team__title {
    padding: 18px 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }
}

.team__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .team__card {
    width: 270px;
    height: 350px;
    background: var(--white-color);
    box-shadow: var(--white-shadow);
  }

  .team__card-title {
    margin: 0 auto;
    padding-top: 24px;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 123.6%;
    text-align: center;
  }

  .team__card-text {
    margin: 0 auto;
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    text-align: center;
  }
}

/* team  */

/* work styles start */

.work__topic {
  text-align: center;
}

.work__title {
  padding-top: 18px;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  text-align: center;
}

.work__list {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 51px;
}

.work__button {
  all: unset;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  white-space: nowrap;
  text-align: center;

  .work__button:hover,
  .work__button:focus,
  .work__button:active {
    color: var(--orange-color);
  }
}

.work__cardblock {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-bottom: 50px;

  .work__card {
    box-shadow: var(--white-shadow);

    &:hover {
    }
  }
}

/* work styles end */

/* feedback styles start */

.feedback__wrapper {
  padding-top: 50px;
}

.feedback__topic {
  text-align: center;
}

.feedback__title {
  padding: 18px 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  text-align: center;
}

.feedback__cardblock {
  display: flex;
}

.feedback__card {
  width: 226px;
  height: 177px;
  margin-left: -20px;
  padding-top: 18px;
  background: var(--orange-color);
  box-shadow: var(--white-shadow);
}

.feedback__photo {
  z-index: 1;
  margin-top: 26px;
  border-radius: 50%;
}

.feedback__text {
  padding-left: 35px;
}

.feedback__text-title {
  padding-top: 26px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.feedback__text-post {
  padding-top: 8px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.feedback__text-description {
  padding-top: 12px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 87px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 50px;
}

.slider__element-first {
  width: 15px;
  height: 15px;
  background: var(--orange-color);
  border-radius: 50%;
}

.slider__element-second {
  width: 49px;
  height: 15px;
  background: var(--black-color);
  border-radius: 7.5px;
}

.slider__element-third {
  width: 15px;
  height: 15px;
  background: var(--gray-color);
  border-radius: 50%;
}

/* feedback styles end */
