/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* work-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/work-sans-v18-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/work-sans-v18-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/work-sans-v18-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Remove default padding */

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
pre,
input,
button,
fieldset {
  padding: 0;
  margin: 0;
}

/* Remove unexpected flex behaviour */
* {
  flex-shrink: 0;
}

/* Use screen height */

html {
  height: 100%;
}

/* Prevent font size change after orientation changes in iOS */

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

/* Global font in controls */

input,
button,
textarea,
select {
  font: inherit;
}

/* Fix clickable styling in iOS and Safari */

button {
  appearance: button;
}

/* Pointer cursor for all interactive elements */

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* Remove border in Firefox */

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Fix default display */

img {
  display: block;
}

/* :root {
  --orange-color: #ff5300;
  --black-color: #373737;
  --gray-color: #7b7b7b;
  --light-orange-color: #fff7f4;
  --white-color: #fff;
  --orange-shadow: 4px 5px 15px rgba(255, 83, 0, 40%);
  --white-shadow: 0px 1px 10px rgba(0, 0, 0, 10%);
} */

.bl {
  width: 200px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: red;

  &:hover {
    background: black;
  }

  .bl2 {
    width: 50px;
    height: 50px;
    background: green;

    &:hover {
      background: blue;
    }
  }
}

/* .bl:hover {
  background: black;
} */
