/* work-sans-regular - latin */
@font-face {
  font-weight: 400;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-500 - latin */
@font-face {
  font-weight: 500;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-600 - latin */
@font-face {
  font-weight: 600;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-700 - latin */
@font-face {
  font-weight: 700;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* Remove default padding */

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
pre,
input,
button,
fieldset {
  margin: 0;
  padding: 0;
}

/* Use screen height */

html {
  box-sizing: border-box;
  height: 100%;
}

/* Prevent font size change after orientation changes in iOS */

body {
  min-height: 100%;
  color: #373737;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

/* Global font in controls */

input,
button,
textarea,
select {
  font: inherit;
}

/* Fix clickable styling in iOS and Safari */

button {
  appearance: button;
}

/* Pointer cursor for all interactive elements */

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* Remove border in Firefox */

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Fix default display */

img {
  display: block;
  margin: 0;
}

:root {
  --orange-color: #ff5300;
  --black-color: #373737;
  --gray-color: #7b7b7b;
  --light-orange-color: #fff7f4;
  --white-color: #fff;
  --orange-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
  --white-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 123.6%;
  text-transform: capitalize;
}

h2 {
  font-weight: 600;
  font-size: 39.06px;
  font-style: normal;
  line-height: 123.6%;
}

p {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
}

li {
  list-style-type: none;
}

input::input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wrapper {
  margin: 0 16px;

  @media (min-width: 768px) {
    width: 70%;
    min-width: 688px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    max-width: 1170px;
  }
}

.background__color-orange {
  background: var(--light-orange-color);
}

.button__contact {
  width: 150px;
  height: 50px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  background: var(--orange-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--orange-shadow);

  .button__contact:hover {
    background: #d74800;
  }
}

.block__title-orange {
  color: var(--orange-color);
}

.wrapper-button {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: left;
  }
}

/* header */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  .header__logo {
    padding: 10px 0;

    .header_logo-img {
      width: 102px;
      height: 32px;
    }

    @media (min-width: 768px) {
      padding: 27px 0;

      .header_logo-img {
        width: 83px;
        height: 26px;
      }
    }

    @media (min-width: 1440px) {
      padding: 26px 0;

      .header_logo-img {
        width: 162px;
        height: 48px;
      }
    }
  }

  .header__theme {
    display: grid;
    align-items: center;
    justify-content: center;

    .header__theme-button {
      align-items: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
      all: unset;
    }
  }

  .header__burger {
    display: grid;
    align-items: center;
    justify-content: end;

    .header__burger-button {
      align-items: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
      all: unset;
    }
  }
}

.header__wrapper-shadow {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--white-color);

  @media (min-width: 768px) {
    box-shadow: var(--white-shadow);
  }

  @media (min-width: 1440px) {
    box-shadow: var(--white-shadow);
  }
}

/* header */

/* intro */

.intro__wrapper {
  padding-top: 100px;
  padding-bottom: 50px;

  .intro__img {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .intro__text {
    margin: 0 auto;
  }

  .intro__title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
    text-align: center;
  }

  .intro__paragraph {
    margin-bottom: 25px;
    text-align: center;
  }

  @media (min-width: 768px) {
    display: flex;
    gap: 19px;
    padding-top: 153px;

    .intro__img {
      order: 1;
      width: 307px;
      height: 207px;
      margin-top: 10px;
      margin-bottom: 0;
    }

    .intro__title {
      font-size: 39.06px;
      text-align: left;
    }

    .intro__paragraph {
      text-align: left;
    }
  }

  @media (min-width: 1440px) {
    gap: 35px;

    .intro__img {
      width: 639px;
      height: 429px;
    }

    .intro__title {
      font-weight: 700;
      font-size: 48px;
    }
  }
}

/* intro */

/* about */

.about__wrapper {
  padding: 50px 0;

  .about__textblock {
    margin-bottom: 50px;
  }

  .about__img {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  /* .about__text {
    margin-bottom: 50px;
  } */

  .about__topic {
    margin-bottom: 18px;
    text-align: center;
  }

  .about__title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }

  .about__paragraph {
    margin-bottom: 25px;
    text-align: center;
  }

  @media (min-width: 768px) {
    .about__textblock {
      display: flex;
      gap: 52px;
    }

    .about__img {
      height: 192px;
      margin-top: 121px;
      margin-bottom: 0;
    }

    .about__topic {
      text-align: left;
    }

    .about__title {
      font-weight: 600;
      font-size: 31.25px;
      text-align: left;
    }

    .about__paragraph {
      text-align: left;
    }
  }

  @media (min-width: 1440px) {
    gap: 72px;

    .about__img {
      height: 352px;
      margin-top: 0;
    }

    .about__title {
      font-size: 39.06px;
    }
  }
}

.about__cardblock {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .about__card {
    padding: 25px 42px 18px;
    background: var(--white-color);
    box-shadow: var(--white-shadow);
  }

  .about__block-img {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
  }

  .about__icon-orange {
    margin: 0;
    border-radius: 50%;
    box-shadow: var(--orange-shadow);
  }

  .about__icon-gray {
    margin: 0;
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgb(0 0 0 / 40%);
  }

  .about__icon-blue {
    margin: 0;
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgb(0 194 255 / 40%);
  }

  .about__icon-dark {
    margin: 0;
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgb(0 0 0 / 40%);
  }

  .about__card-text {
    color: var(--black-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    white-space: nowrap;
    text-align: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    .about__card {
      padding: 25px 17px;
      background: var(--white-color);
      box-shadow: var(--white-shadow);
    }

    .about__card-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150.6%;
      white-space: normal;
    }

    .about__icon-orange {
      height: 50px;
    }

    .about__icon-gray {
      height: 50px;
    }

    .about__icon-blue {
      height: 50px;
    }

    .about__icon-dark {
      height: 50px;
    }
  }

  @media (min-width: 1440px) {
  }
}

/* about */

/* expereince */

.expereince__wrapper {
  padding: 50px 0;

  @media (min-width: 768px) {
    display: flex;
    gap: 24px;
  }

  @media (min-width: 1440px) {
  }
}

.expereince__text {
  margin-bottom: 50px;

  .expereince__topic {
    margin-bottom: 18px;
    text-align: center;
  }

  .expereince__title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }

  .expereince__paragraph {
    margin-bottom: 25px;
    text-align: center;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;

    .expereince__topic {
      text-align: left;
    }

    .expereince__title {
      font-weight: 600;
      font-size: 31.25px;
      text-align: left;
    }

    .expereince__paragraph {
      text-align: left;
    }
  }

  @media (min-width: 1440px) {
    .expereince__title {
      font-size: 39.06px;
    }
  }
}

.expereince__wrapper-cardblock {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .expereince__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: var(--white-color);
    box-shadow: var(--white-shadow);
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .card__wrapper-secondrow {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .expereince__card-title {
    color: var(--black-color);
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    text-align: center;
  }

  .expereince__card-text {
    color: var(--gray-color);
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 8px;

    .card__wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .card__wrapper-secondrow {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 32px;
    }

    .expereince__card {
      width: 162px;
      height: 150px;
    }

    .expereince__card-title {
      font-weight: 500;
      font-size: 25px;
      line-height: 123.6%;
    }

    .expereince__card-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150.6%;
    }
  }

  @media (min-width: 1440px) {
    .expereince__card {
      width: 270px;
      height: 250px;
    }

    .expereince__card-title {
      font-weight: 700;
      font-size: 48px;
      line-height: 123.6%;
    }

    .expereince__card-text {
      font-weight: 500;
      font-size: 20px;
      line-height: 123.6%;
    }
  }
}

/* expereince */

/* team  */
.team__wrapper {
  padding: 50px 0;
}

.team__text {
  .team__topic {
    margin-bottom: 18px;
    text-align: center;
  }

  .team__title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }

  @media (min-width: 768px) {
    .team__title {
      font-weight: 600;
      font-size: 31.25px;
    }
  }

  @media (min-width: 1440px) {
    .team__title {
      font-size: 39.06px;
    }
  }
}

.team__cardblock {
  display: flex;
  gap: 15px;
  margin: -10px;
  padding: 10px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .team__card {
    width: 270px;
    height: 350px;
    background: var(--white-color);
    box-shadow: var(--white-shadow);
  }

  .team__card-title {
    margin-bottom: 12px;
    padding-top: 24px;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    text-align: center;
  }

  .team__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    text-align: center;
  }

  @media (min-width: 768px) {
    justify-content: space-between;

    .team__card {
      width: 213px;
      height: 334px;
    }

    .team__photo {
      width: 213px;
      height: 230px;
    }
  }

  @media (min-width: 1440px) {
    .team__card {
      width: 270px;
      height: 350px;
    }

    .team__photo {
      width: 270px;
      height: 250px;
    }
  }
}

/* team  */

/* work styles start */

.work__wrapper {
  padding-bottom: 50px;
}

.work__topic {
  margin-bottom: 18px;
  text-align: center;
}

.work__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  text-align: center;
}

.work__list {
  display: flex;
  gap: 18px;
  margin-bottom: 50px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.work__button {
  all: unset;
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  white-space: nowrap;
  text-align: center;

  &:focus,
  &:active {
    color: var(--orange-color);
  }
}

.work__cardblock {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;

  .work__cardblock-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .work__card {
    box-shadow: var(--white-shadow);
  }
}

@media (min-width: 768px) {
  .work__title {
    width: 383px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }

  .work__list {
    justify-content: center;
  }

  .work__button {
    font-weight: 500;
    font-size: 20px;
  }

  .work__cardblock {
    flex-direction: row;
    gap: 25px;

    .work__img-s {
      width: 213px;
      height: 200px;
    }

    .work__img-m {
      width: 213px;
      height: 230px;
    }

    .work__img-l {
      width: 213px;
      height: 250px;
    }

    .work__img-xl {
      width: 213px;
      height: 280px;
    }
  }
}

@media (min-width: 1440px) {
  .work__title {
    width: 100%;
    font-size: 39.06px;
  }

  .work__button {
    &:hover {
      color: var(--orange-color);
    }
  }

  .work__cardblock {
    .work__card {
      &::before {
        /* position: absolute; */

        background-color: rgb(0 0 0 / 30%);
        transition: all 0.3s ease;
        content: '';
      }

      &:hover::before {
        background-color: rgb(0 255 0 / 50%);
        background-blend-mode: overlay;
      }
    }

    .work__img-s {
      width: 370px;
      height: 370px;
    }

    .work__img-m {
      width: 370px;
      height: 370px;
    }

    .work__img-l {
      width: 370px;
      height: 470px;
    }

    .work__img-xl {
      width: 370px;
      height: 470px;

      &:hover {
        background-color: rgb(0 255 0 / 50%);
        background-blend-mode: overlay;
      }
    }
  }
}

/* work styles end */

/* feedback styles start */

.feedback__wrapper {
  padding: 50px 0;
}

.feedback__topic {
  margin-bottom: 18px;
  text-align: center;
}

.feedback__title {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  text-align: center;
}

.feedback__cardblock {
  display: flex;
  gap: 38px;
  margin: -10px;
  padding: 10px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.feedback__card {
  position: relative;
  flex-shrink: 0;
  width: 226px;
  margin-bottom: 25px;
  margin-left: 20px;
  background: var(--orange-color);
  box-shadow: var(--white-shadow);
}

.feedback__photo {
  position: absolute;
  margin-top: 26px;
  margin-left: -20px;
  border-radius: 50%;
}

.feedback__text {
  padding: 26px 18px 12px 35px;
}

.feedback__text-title {
  margin-bottom: 8px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.feedback__text-post {
  margin-bottom: 12px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.feedback__text-description {
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 87px;
  margin-right: auto;
  margin-left: auto;
}

.slider__element-first {
  width: 15px;
  height: 15px;
  background: var(--orange-color);
  border-radius: 50%;
}

.slider__element-second {
  width: 49px;
  height: 15px;
  background: var(--black-color);
  border-radius: 7.5px;
}

.slider__element-third {
  width: 15px;
  height: 15px;
  background: var(--gray-color);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .feedback__title {
    font-weight: 600;
    font-size: 31.25px;
  }

  .feedback__cardblock {
    gap: 79px;
  }

  .feedback__card {
    width: 292px;
    margin-left: 25px;
  }

  .feedback__photo {
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }
}

@media (min-width: 1440px) {
  .feedback__title {
    font-size: 39.06px;
  }

  .feedback__cardblock {
    gap: 190px;
  }

  .feedback__card {
    width: 470px;
    margin-left: 40px;
  }

  .feedback__text {
    padding: 34px 35px 25px 65px;
  }

  .feedback__photo {
    width: 80px;
    height: 80px;
    margin-left: -40px;
  }
}

/* feedback styles end */

/* Blog styles start */

.blog__wrapper {
  padding: 50px 0;
}

.blog__topic {
  margin-bottom: 18px;
  text-align: center;
}

.blog__title {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  text-align: center;
}

.blog__cardblock {
  display: flex;
  gap: 18px;
  margin: -10px;
  margin-bottom: 25px;
  padding: 10px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    text-decoration: none;
  }
}

.card {
  min-width: 296px;
  padding: 18px 18px 27px;
  background: var(--white-color);
  box-shadow: var(--white-shadow);
}

.card__post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card__user {
  display: flex;
  gap: 10px;
}

.card__post-photo {
  border-radius: 50%;
}

.card__text-title {
  margin-bottom: 6px;
  color: var(--orange-color);
  font-weight: 400;
  font-size: 12.8px;
  line-height: 123.6%;
}

.card__text-description {
  color: var(--black-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.card__user-photo {
  border-radius: 50%;
}

.card__user-name {
  color: var(--black-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.card__user-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.card__user-date {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 12.8px;
  line-height: 123.6%;
}

.card__user-dot {
  width: 5px;
  height: 5px;
  background: var(--gray-color);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .blog__title {
    font-weight: 600;
    font-size: 31.25px;
  }

  .blog__cardblock {
    gap: 25px;
  }

  .card {
    min-width: 370px;
    padding: 25px;
  }

  .card__post-photo {
    width: 100px;
    height: 100px;
  }

  .card__user-photo {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1440px) {
  .blog__title {
    font-size: 39.06px;
  }

  .blog__cardblock {
    gap: 30px;
  }

  .card {
    min-width: 570px;
    padding: 25px;
  }

  .card__post-photo {
    width: 164px;
    height: 164px;
  }

  .card__user-photo {
    width: 80px;
    height: 80px;
  }
}

/* Blog styles end */

/* Contact styles start */

.contact__wrapper {
  padding-bottom: 50px;
}

.contact__topic {
  margin-bottom: 18px;
  text-align: center;
}

.contact__title {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  text-align: center;
}

.contact__cardblock {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 62px;
}

.contact__card {
  padding: 18px 49px 30px 18px;
  background: var(--white-color);
  box-shadow: var(--white-shadow);
}

.contact__card-topic {
  display: flex;
  gap: 18px;
  margin-bottom: 34px;

  .contact__img {
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
  }

  .contact__text-title {
    margin-bottom: 11px;
    color: var(--orange-color);
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
  }

  .contact__text-description {
    color: var(--black-color);
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }
}

.contact__block-mail {
  .contact__mail {
    margin-bottom: 10px;
  }

  a {
    color: var(--gray-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    text-decoration: none;
  }
}

.contact__phone-wrap {
  display: flex;
}

.contact__phone {
  margin-bottom: 10px;
}

.contact__phone-free {
  margin-left: 18px;
  color: var(--orange-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
}

.contact__location {
  width: 198px;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
}

.send-message__img {
  margin: 0 auto;
  margin-bottom: 50px;
}

.send-message__text {
  .search-form__title {
    margin-bottom: 18px;
  }

  p {
    color: var(--black-color);
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
  }
}

.button__send {
  width: 190px;
  height: 50px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  background: var(--orange-color);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
}

.button__send:hover {
  background: #d74800;
}

.search-form__input {
  width: 100%;
  margin-bottom: 18px;
  padding: 18px 200px 18px 18px;
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  border: none;
  box-shadow: var(--white-shadow);
}

.search-form__input:last-child {
  margin-right: 0;
}

.search-form__input::placeholder {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
}

.search-form__input-message {
  width: 100%;
  margin-bottom: 29px;
  padding: 18px 18px 163px;
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  border: none;
  box-shadow: var(--white-shadow);
  resize: none;
}

@media (min-width: 768px) {
  .contact__title {
    font-weight: 600;
    font-size: 31.25px;
  }

  .contact__cardblock {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact__card {
    padding: 18px 5px 18px 18px;
  }

  .contact__card-topic {
    display: flex;
    margin-bottom: 18px;

    .contact__img {
      width: 40px;
      height: 40px;
    }

    .contact__text-title {
      margin-bottom: 0;
      font-size: 20px;
      white-space: nowrap;
    }

    .contact__text-description {
      font-weight: 500;
      font-size: 25px;
    }
  }

  .contact__block-mail {
    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 150.6%;
    }
  }

  .contact__phone-wrap {
    display: flex;
  }

  .contact__phone {
    white-space: nowrap;
  }

  .contact__phone-free {
    margin-top: 4px;
    margin-left: 4px;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 123.6%;
    white-space: nowrap;
  }

  .contact__location {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
  }

  .send-message__wrapper {
    display: flex;
    gap: 20px;
  }

  .send-message__img {
    height: 181px;
    margin-top: 160px;
    margin-bottom: 0;
  }

  .send-message__text {
    .search-form__title {
      text-align: left;
    }
  }

  .input_wrapper-line0ne {
    display: flex;
    gap: 21px;
  }

  .input_wrapper-lineTwo {
    display: flex;
    gap: 21px;
  }

  .search-form__input {
    padding: 18px 121px 18px 18px;
  }

  .search-form__input-message {
    padding: 18px 18px 67px;
  }
}

@media (min-width: 1440px) {
  .contact__title {
    font-size: 39.06px;
  }

  .contact__cardblock {
    gap: 30px;
  }

  .contact__card {
    min-width: 370px;
    padding: 19px 83px 24px 18px;
  }

  .contact__card-topic {
    display: flex;
    margin-bottom: 36px;

    .contact__img {
      width: 75px;
      height: 75px;
    }

    .contact__text-title {
      margin-bottom: 0;
      font-size: 25px;
      white-space: nowrap;
    }

    .contact__text-description {
      font-weight: 600;
      font-size: 31.25px;
    }
  }

  .contact__block-mail {
    a {
      font-weight: 500;
      font-size: 20px;
      line-height: 123.6%;
    }
  }

  .contact__phone-wrap {
    display: flex;
  }

  .contact__phone {
    white-space: nowrap;
  }

  .contact__phone-free {
    margin-top: 0;
    margin-left: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    white-space: nowrap;
  }

  .contact__location {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }

  .send-message__wrapper {
    gap: 47px;
  }

  .send-message__img {
    height: 333px;
    margin-top: 70px;
    margin-bottom: 0;
  }

  .send-message__text {
    .search-form__title {
      font-weight: 600;
      font-size: 31.25px;
      line-height: 123.6%;
    }
  }

  .search-form__input-message {
    padding: 18px 18px 121px;
  }
}

/* Map styles start */

.map__img {
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .map__img {
    width: 688px;
    height: 250px;
  }
}

@media (min-width: 1440px) {
  .map__img {
    width: 1170px;
    height: 450px;
  }
}

/* Map styles end */

/* Medal styles start */

.medal__cardblock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .medal__img {
    height: 109px;
  }
}

@media (min-width: 1440px) {
  .medal__img {
    height: 168px;
  }
}

/* Medal styles end */

/* Footer styles start */

.footer {
  background: var(--black-color);
}

.footer__wrapper {
  padding: 50px 0;
}

.footer__title {
  margin-bottom: 18px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
}

.footer__text {
  margin-bottom: 18px;

  /* width: 283px; */
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.footer__margin {
  margin-bottom: 50px;
}

.footer__nav {
  a {
    color: var(--white-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    white-space: nowrap;
    text-decoration: none;

    &:hover,
    .footer__menu-link:focus,
    .footer__menu-link:active {
      color: var(--orange-color);
    }
  }
}

.footer__social-list {
  display: flex;
  gap: 27px;
}

.social__img-facebook {
  width: 40px;
  height: 40px;
  background-image: url('../assets/facebook.jpg');

  &:active {
    background-image: url('../assets/facebook-active.jpg');
  }
}

.social__img-inst {
  width: 40px;
  height: 40px;
  background-image: url('../assets/instagram.jpg');

  &:active {
    background-image: url('../assets/instagram-active.jpg');
  }
}

.social__img-twitter {
  width: 40px;
  height: 40px;
  background-image: url('../assets/twitter.jpg');

  &:active {
    background-image: url('../assets/twitter-active.jpg');
  }
}

.social__img-skype {
  width: 40px;
  height: 40px;
  background-image: url('../assets/skype.jpg');

  &:active {
    background-image: url('../assets/skype-active.jpg');
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.footer__input-wrap {
  display: flex;
}

.footer__input {
  width: 100%;
  padding: 18px 100px 18px 18px;
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  background: none;
  border: 1px solid #ff5300;
}

.footer__input-button {
  width: 81px;
  background: var(--orange-color);
  border: none;

  img {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .footer__title {
    font-size: 25px;
  }

  .footer__social-list {
    gap: 11px;
  }

  .social__img-facebook {
    width: 30px;
    height: 30px;
    background-position: center;
  }

  .social__img-inst {
    width: 30px;
    height: 30px;
    background-position: center;
  }

  .social__img-twitter {
    width: 30px;
    height: 30px;
    background-position: center;
  }

  .social__img-skype {
    width: 30px;
    height: 30px;
    background-position: center;
  }

  .footer__item {
    display: flex;
    justify-content: space-between;
  }

  .footer__wrapper-firstblock {
    display: flex;
    gap: 23px;
    justify-content: space-between;
    width: 293px;
  }

  .footer__wrapper-secondblock {
    display: flex;
    gap: 33px;
    justify-content: space-between;
    width: 331px;
  }

  .footer__input {
    padding: 12px 15px 12px 5px;
    font-size: 12.8px;
    line-height: 123.6%;
  }

  .footer__input-button {
    width: 35px;

    img {
      height: 18px;
    }
  }
}

@media (min-width: 1440px) {
  .footer__title {
    font-size: 39.06px;
  }

  .footer__social-list {
    gap: 27px;
  }

  .social__img-facebook {
    width: 40px;
    height: 40px;
    background-image: url('../assets/facebook.jpg');

    &:hover,
    :active,
    :focus {
      background-image: url('../assets/facebook-active.jpg');
    }
  }

  .social__img-inst {
    width: 40px;
    height: 40px;
    background-image: url('../assets/instagram.jpg');

    &:hover,
    :active,
    :focus {
      background-image: url('../assets/instagram-active.jpg');
    }
  }

  .social__img-twitter {
    width: 40px;
    height: 40px;
    background-image: url('../assets/twitter.jpg');

    &:hover,
    :active,
    :focus {
      background-image: url('../assets/twitter-active.jpg');
    }
  }

  .social__img-skype {
    width: 40px;
    height: 40px;
    background-image: url('../assets/skype.jpg');

    &:hover,
    :active,
    :focus {
      background-image: url('../assets/skype-active.jpg');
    }
  }

  .footer__wrapper-firstblock {
    gap: 37px;
    width: 479px;
  }

  .footer__wrapper-secondblock {
    gap: 156px;
    width: 571px;
  }

  .footer__input {
    padding: 18px 120px 18px 18px;
    font-size: 16px;
    line-height: 150.6%;
  }

  .footer__input-button {
    width: 81px;

    img {
      height: 24px;
    }
  }
}

/* Footer styles end */

/* Copyright styles start */

.copyright {
  background: var(--orange-color);
}

.copyright__item {
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

.copyright__text-icon {
  /* box-shadow: 0 1px 10px rgb(0 0 0 / 10%); */
}

.copyright__text {
  display: flex;
}

.copyright__text-text {
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  text-align: center;
}

.copyright__button {
  display: none;
}

@media (min-width: 768px) {
  .copyright__text {
    display: flex;
    gap: 18px;
  }
}

@media (min-width: 1440px) {
  .copyright__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }

  .copyright__button {
    display: contents;
  }
}

/* Copyright styles end */
