/* work-sans-regular - latin */
@font-face {
  font-weight: 400;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-500 - latin */
@font-face {
  font-weight: 500;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-600 - latin */
@font-face {
  font-weight: 600;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* work-sans-700 - latin */
@font-face {
  font-weight: 700;
  font-family: 'Work Sans';
  font-style: normal;
  src: url('../fonts/work-sans-v18-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/work-sans-v18-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* Remove default padding */

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
pre,
input,
button,
fieldset {
  margin: 0;
  padding: 0;
}

/* Remove unexpected flex behaviour */
* {
  flex-shrink: 0;
}

/* Use screen height */

html {
  height: 100%;
}

/* Prevent font size change after orientation changes in iOS */

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

/* Global font in controls */

input,
button,
textarea,
select {
  font: inherit;
}

/* Fix clickable styling in iOS and Safari */

button {
  appearance: button;
}

/* Pointer cursor for all interactive elements */

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* Remove border in Firefox */

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Fix default display */

img {
  display: block;
}

/* :root {
  --orange-color: #ff5300;
  --black-color: #373737;
  --gray-color: #7b7b7b;
  --light-orange-color: #fff7f4;
  --white-color: #fff;
  --orange-shadow: 4px 5px 15px rgba(255, 83, 0, 40%);
  --white-shadow: 0px 1px 10px rgba(0, 0, 0, 10%);
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #373737;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  line-height: 1.2;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 123.6%;
  text-transform: capitalize;
}

h2 {
  font-weight: 600;
  font-size: 39.06px;
  font-style: normal;
  line-height: 123.6%;
}

p {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
}

li {
  list-style-type: none;
}

textarea {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  line-height: 150.6%;
  resize: none;
}

input::input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Header styles start */

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 38px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #373737;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  color: #ff5300;
}

.header__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__logo {
  position: absolute;
  left: 0;
}

.header__button {
  position: absolute;
  right: 0;
  background: none;
  border: none;
}

/* Header styles end */

/* Social styles start */

.social__nav {
  position: fixed;
  top: 317px;
  right: 0;
}

.social__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
}

.social__item {
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.social__link {
  width: 40px;
  height: 40px;
  background: #fff7f4;
}

.box {
  width: 40px;
  height: 40px;
  background: #fff7f4;
}

.social__item:hover,
.social__item:focus,
.social__item:active {
  box-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
}

/* Social styles start */

/* Intro styles start */

.intro {
  height: 835px;
  padding-top: 276px;
  background: #fff7f4;
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro__title {
  max-width: 440px;
  margin-bottom: 11px;
}

.intro__title-orange {
  color: #ff5300;
}

.intro__paragraph {
  max-width: 493px;
  margin-bottom: 50px;
}

.button__contact {
  width: 150px;
  height: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  background: #ff5300;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
}

.button__contact:hover {
  background: #d74800;
}

.intro__img {
  position: relative;
  bottom: 23px;
}

.intro3 {
  height: 673px;
  background: #fff7f4;
}

/* Intro styles end */

/* About styles start */

.about {
  height: 935px;
  padding-top: 120px;
  background: #fff;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__topic {
  max-width: 493px;
  margin-bottom: 25px;
}

.about__title {
  max-width: 494px;
}

.about__title-orange {
  color: #ff5300;
}

.about__paragraph {
  max-width: 569px;
  margin-bottom: 30px;
  padding-top: 18px;
}

.about__br {
  padding-top: 18px;
}

.about__img {
  position: relative;
  bottom: 0;
}

.about__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}

.about__card {
  width: 270px;
  height: 200px;
  background: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.about__icon-orange {
  position: relative;
  top: 25px;
  left: 100px;
  border-radius: 50%;
  box-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
}

.about__icon-gray {
  position: relative;
  top: 25px;
  left: 100px;
  border-radius: 50%;
  box-shadow: 4px 5px 15px rgb(0 0 0 / 40%);
}

.about__icon-blue {
  position: relative;
  top: 25px;
  left: 100px;
  border-radius: 50%;
  box-shadow: 4px 5px 15px rgb(0 194 255 / 40%);
}

.about__icon-dark {
  position: relative;
  top: 25px;
  left: 100px;
  border-radius: 50%;
  box-shadow: 4px 5px 15px rgb(0 0 0 / 40%);
}

.about__card-text {
  width: 191px;
  margin: 0 auto;
  padding-top: 68px;
  color: #373737;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
  white-space: nowrap;
  text-align: center;
}

/* About styles end */

/* expereince styles start */

.expereince {
  height: 673px;
  padding-top: 83px;
  background: #fff7f4;
}

.expereince__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.expereince__topic {
  max-width: 493px;
  margin-bottom: 25px;
}

.expereince__title {
  max-width: 494px;
}

.expereince__title-orange {
  color: #ff5300;
}

.expereince__paragraph {
  max-width: 569px;
  margin-bottom: 30px;
  padding-top: 18px;
}

.expereince__br {
  padding-top: 18px;
}

.expereince__wrapper-cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 570px;
  height: 530px;
}

.expereince__cardblock-first {
  position: relative;
  bottom: 23px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.expereince__cardblock-second {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.expereince__card {
  width: 270px;
  height: 250px;
  background: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.expereince__card-title {
  margin: 0 auto;
  padding-top: 74px;
  text-align: center;
}

.expereince__card-text {
  margin: 0 auto;
  padding-top: 18px;
  color: #7b7b7b;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  text-align: center;
}

/* expereince styles end */

/* team styles start */

.team {
  padding-top: 120px;
}

.team__topic {
  max-width: 493px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

.team__title {
  max-width: 494px;
  margin: 0 auto;
  text-align: center;
}

.team__title-orange {
  color: #ff5300;
}

.team__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}

.team__card {
  width: 270px;
  height: 350px;
  background: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.team__card-title {
  margin: 0 auto;
  padding-top: 24px;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  text-align: center;
}

.team__card-text {
  margin: 0 auto;
  padding-top: 12px;
  text-align: center;
}

/* team styles end */

/* work styles start */

.work {
  padding-top: 120px;
}

.work__topic {
  max-width: 493px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

.work__title {
  max-width: 649px;
  margin: 0 auto;
  text-align: center;
}

.work__title-orange {
  color: #ff5300;
}

.work__list {
  display: flex;
  justify-content: space-between;
  width: 610px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 25px;
}

.work__link {
  color: #7b7b7b;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}

.work__link:hover,
.work__link:focus,
.work__link:active {
  color: #ff5300;
}

.work__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 870px;
}

.work__wrapper-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work__card {
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

/* work styles end */

/* feedback styles start */

.feedback {
  height: 640px;
  margin-top: 120px;
  background: #fff7f4;
}

.feedback__topic {
  max-width: 493px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 25px;
  text-align: center;
}

.feedback__title {
  max-width: 494px;
  margin: 0 auto;
  text-align: center;
}

.feedback__title-orange {
  color: #ff5300;
}

.feedback__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 60px;
}

.feedback__card {
  width: 470px;
  height: 250px;
  margin-left: 40px;
  background: #ff5300;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.feedback__photo {
  position: relative;
  bottom: -25px;
  left: -40px;
  border-radius: 50%;
}

.feedback__text {
  position: relative;
  bottom: 46px;
  left: 65px;
}

.feedback__text-title {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  line-height: 123.6%;
}

.feedback__text-post {
  padding-top: 7px;
  color: #fff;
}

.feedback__text-description {
  width: 370px;
  padding-top: 23px;
  color: #fff;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 87px;
  margin-right: auto;
  margin-left: auto;
}

.slider__element-first {
  width: 15px;
  height: 15px;
  background: #ff5300;
  border-radius: 50%;
}

.slider__element-second {
  width: 49px;
  height: 15px;
  background: #373737;
  border-radius: 7.5px;
}

.slider__element-third {
  width: 15px;
  height: 15px;
  background: #7b7b7b;
  border-radius: 50%;
}

/* feedback styles end */

/* Blog styles start */

.blog {
  height: 574px;
  margin-top: 120px;
}

.blog__topic {
  max-width: 493px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

.blog__title {
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
}

.blog__title-orange {
  color: #ff5300;
}

.blog__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 60px;
}

.blog__card {
  width: 570px;
  height: 294px;
  background: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.blog__post {
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.blog__user {
  display: flex;
  width: 520px;
  margin-right: auto;
  margin-left: auto;
}

.blog__post-photo {
  border-radius: 50%;
}

.blog__post-text-title {
  color: #ff5300;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
}

.blog__post-text-description {
  width: 308px;
  margin-top: 18px;
  color: #373737;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  line-height: 123.6%;
}

.blog__user-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.blog__user-photo {
  border-radius: 50%;
}

.blog__user-text-name {
  color: #373737;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
}

.blog__user-text_wrap {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.blog__user-text-date {
  margin-top: 6px;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
}

.dot {
  width: 5px;
  height: 5px;
  margin-top: 15.5px;
  background: #7b7b7b;
  border-radius: 50%;
}

/* Blog styles end */

/* Contact styles start */

.contact {
  margin-top: 120px;
}

.contact__topic {
  max-width: 493px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

.contact__title {
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
}

.contact__title-orange {
  color: #ff5300;
}

.contact__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 60px;
}

.contact__card {
  width: 370px;
  height: 230px;
  background: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.contact__card-topic {
  display: flex;
  height: 75px;
  margin-top: 18px;
  margin-left: 18px;
}

.contact__img {
  border-radius: 50%;
  box-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
}

.contact__text {
  padding-left: 18px;
}

.contact__text-title {
  color: #ff5300;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  line-height: 123.6%;
}

.contact__text-description {
  margin-top: 11px;
  color: #373737;
  font-weight: 600;
  font-size: 31.25px;
  font-style: normal;
  line-height: 123.6%;
}

.contact__user-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.contact__user-text_wrap {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.contact__block-mail {
  height: 50px;
  margin-top: 38px;
  margin-left: 18px;
}

.contact__mail {
  margin-bottom: 18px;
  color: #7b7b7b;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
}

.contact__phone-wrap {
  display: flex;
}

.contact__phone {
  margin-bottom: 18px;
  color: #7b7b7b;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
}

.contact__phone-free {
  margin-left: 18px;
  color: #ff5300;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
}

.contact__location {
  width: 198px;
  color: #7b7b7b;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
}

.button__send {
  width: 190px;
  height: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 123.6%;
  background: #ff5300;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 5px 15px rgb(255 83 0 / 40%);
}

.button__send:hover {
  background: #d74800;
}

.send-message__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.send-message__conteiner {
  position: relative;
}

.send-message__img {
  position: absolute;
  left: -19px;
}

.send-message__title {
  max-width: 494px;
}

.send-message__title-orange {
  color: #ff5300;
}

.search-form {
  right: 0;
  width: 670px;
  margin-top: 18px;
}

.search-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-form__input {
  width: 330px;
  height: 60px;
  margin-bottom: 18px;
  padding-left: 18px;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
  border: none;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.search-form__input:last-child {
  margin-right: 0;
}

.search-form__input::placeholder {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
}

.search-form__input-message {
  width: 670px;
  height: 183px;
  margin-top: 11px;
  margin-bottom: 29px;
  padding-top: 18px;
  padding-left: 18px;
  color: #7b7b7b;
  border: none;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

/* Map styles start */

.map {
  margin-top: 60px;
}

/* Map styles end */

/* Medal styles start */

.medal {
  margin-top: 120px;
}

.medal__cardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Medal styles end */

/* Footer styles start */

.footer {
  height: 359px;
  margin-top: 120px;
  background: #373737;
}

.footer__wrapper-firstblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 479px;
}

.footer__wrapper-secondblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 571px;
}

.footer__title {
  color: #fff;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 66px;
}

.footer__text {
  width: 283px;
  margin-top: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.footer__title-orange {
  color: #ff5300;
}

.footer__social {
  width: 241px;
  margin-top: 18px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  margin-top: 25px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 161px;
}

.footer__menu-link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  text-decoration: none;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
  color: #ff5300;
}

.footer__input-wrap {
  display: flex;
}

.footer__input {
  width: 190px;
  height: 60px;
  margin-top: 25px;
  padding-left: 18px;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150.6%;
  background: none;
  border: 1px solid #ff5300;
}

.footer__input-button {
  width: 80px;
  height: 60px;
  margin-top: 25px;
  background: #ff5300;
  border: none;
}

/* Footer styles end */

/* Copyright styles start */

.copyright {
  background: #ff5300;
}

.copyright__item {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.copyright__text-icon {
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.copyright__text {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}

.copyright__text-text {
  margin-left: 18px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.copyright__button {
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
}

.d1__1 {
  width: 250px;
  height: 250px;
  background: #7b7b7b;

  .d1__2 {
    width: 150px;
    height: 150px;
    background: #5b7b7b;

    &:hover {
      background: #ff5300;
    }
  }
}

/* Copyright styles end */
